//Цвет для акцентированных элементов
$accent: #ea5959;
//Цвет всего текста
$color-text: #525252;
//Размер текста внутри main
$font_size: 16px;
//Шрифт Lato
$font_famaly: "Lato", sans-serif;
//Цвет самого input
$input-background: #f3f3f3;
//Цвет текста внутри инпута
$input-color-text: #b5b5b5;
